#localImg,#urlimage{
    display:none;
}

#radioUrlImg,#radioFileImg{
    display: inline;
}

.counter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
}
.partial-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.bg {
    background-color: #00837e;
}